@import "tailwindcss";

@source "../components/**/*.{ts,tsx}";

@layer base {
  :root {
    --foreground: #f6f6f6;
    --background: #020203;
    --primary: #1630dd;
    --secondary: #636169;
    --tertiary: #101113;

    --success: #499a13;
    --destructive: #d62121;

    --dark-gray: #40445e;
    --dark-gray-light: #505051;

    --light-gray: #8d8d8d;
    --border-gray: #1f1f20;

    --outline-gray: #242425;
    --outline-gray-dark: #262627;
    --outline-gray-light: #181819;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans), sans-serif;
  }

  button {
    cursor: pointer;
  }
}
